.topic h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  margin-bottom: 20px;
}

#background {
  background: linear-gradient(rgba(10 9 9), rgba(47 4 126 30%)), url("../images/coder.png");
  background-size: cover;
  background-position: center;
  color: white;
}

.topic {
  text-align: center;
}

.topic p {
  font-style: italic;
  font-size: 20px;
  margin-top: 10px;
}

#informations {
  padding-top: 25px;
  padding-left: 30px;
  margin-right: 350px;
  margin-left: 350px;
  padding-right: 200px;
  border-radius: 10px;
  background-color: rgba(1 1 19 60%);
}

.form {
  width: 565px;
  height: 30px;
}

#comments {
  height: 100px;
  width: 564px;
}

.question a {
  padding-bottom: 10px;
}

.input-textarea {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}

.feature {
  width: 611px;
}

.name {
  height: 30px;
  width: 560px;
}

.button {
  width: 570px;
  display: block;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.75rem;
  background-color: lightgreen;
}
